* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
p,
div,
section,
article,
aside,
nav {
    padding: 0;
    margin: 0;
}

div p {
    background: #ddd;
}

.thumbnail {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption h3 {
    font-size: 1em;
}

.thumbnail .caption p {
    font-size: 0.75em;
}
