/* 圖片模組 */

.thumbnail {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

.thumbnail img {
    /* RWD Image*/
    max-width: 100%;
}

.thumbnail .caption h3 {
    font-size: 1em;
}

.thumbnail .caption p {
    font-size: 0.75em;
}
