.jumbotron {
    height: 300px;
    background-image: url(https://source.unsplash.com/400x200?nature);
    background-repeat: no-repeat;
    background-size: cover;
    color: #0ae55e;
    text-align: center;
    padding-top: 100px;
}

.pokemon {
    background: url(https://img.pokemondb.net/) width: 120px;
    height: 120px;
    background-position: -120px 0px;
}

div p {
    background: #ddd;
}

.thumbnail {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption h3 {
    font-size: 1em;
}

.thumbnail .caption p {
    font-size: 0.75em;
}
