nav {
    padding: 0px;
}

nav li>ul>li {
    display: none;
}

nav li:hover>ul>li {
    display: block;
}

nav ul {
    padding: 0px;
}

nav li {
    list-style-type: none;
}

nav>ul>li {
    border: 1px solid blue;
}

article h1+p {
    font-weight: bold;
}

tr:nth-child(odd) {
    background: #ddd;
}

tr:nth-child(even) {
    background: pink;
}
